@charset "UTF-8";

::-webkit-scrollbar {
  width: 7px;
}

/* Track */

::-webkit-scrollbar-track {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgba(0, 172, 78, 0.85);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #00AC4E;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD3gTD_u50.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD3g3D_u50.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD3gfD_u50.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gTD_u50.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3g3D_u50.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gfD_u50.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gTD_u50.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3g3D_u50.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gfD_u50.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: inherit;
  font-weight: normal;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
a {
  border: none;
  background: none;
}

input:focus,
a:focus {
  outline: none;
  border: none;
}

select {
  border: none;
  background: none;
}

select:focus {
  outline: none;
  border: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  z-index: 99;
}

.header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.logo {
  width: 28%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.logo__img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.logo__img img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
}

.nav {
  width: 44%;
}

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.nav__item {
  position: relative;
  margin-right: 4rem;
}

.nav__item:hover .sub-nav {
  top: -20px;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.nav__item:first-child {
  z-index: 10;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item::first-letter {
  text-transform: capitalize;
}

.nav__link {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333333;
  -webkit-transition: color .15s ease-out;
  transition: color .15s ease-out;
}

.nav__link:hover {
  color: #00AC4E;
}

.option {
  width: 28%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
}

.option__tel {
  margin-right: 4rem;
}

.option__tel a {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.option__tel a span {
  margin-bottom: 2px;
  padding-left: 1rem;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  letter-spacing: 1px;
  -webkit-transition: color .15s ease-out;
  transition: color .15s ease-out;
}

.option__tel a span:hover {
  color: #00AC4E;
}

.option__cart {
  display: block;
}

.sub-nav {
  padding: 60px 20px 10px 30px;
  position: absolute;
  min-width: 120px;
  top: 0;
  left: -30px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  width: auto;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  box-sizing: content-box;
  z-index: -1;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.sub-nav-item {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.sub-nav-link {
  font-weight: 500;
  font-size: 15px;
  color: #333333;
  -webkit-transition: color .15s ease-out;
  transition: color .15s ease-out;
}

.sub-nav-link:hover {
  color: #00AC4E;
}

.sub-nav-link::first-letter {
  text-transform: capitalize;
}

.gift {
  margin-top: 6rem;
  height: 350px;
}

.gift__wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#F1F1FB), to(#EBEBF5));
  background: linear-gradient(180deg, #F1F1FB 0%, #EBEBF5 100%);
  border-radius: 18.0727px;
}

.gift__content {
  width: 45%;
  margin-left: 4rem;
}

.gift__suptitle {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 3.15rem;
  color: #333333;
}

.gift__subtitle {
  margin-bottom: 3rem;
  font-weight: 400;
  font-size: 2rem;
  color: #828282;
}

.gift__btn {
  padding: 5px 20px;
  font-size: 2.5rem;
  color: #EBEBF5;
  text-transform: capitalize;
  background-color: #00AC4E;
  border-radius: 4.51818px;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

.gift__btn:hover {
  color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 172, 78, 0.3);
}

.gift__img {
  width: 55%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  border-radius: 18.0727px;
}

.gift__img img {
  display: block;
  width: 100%;
  height: auto;
}

.tabs {
  padding: 20px 0 30px;
}

.tabs__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.tabs__item {
  margin-right: 44px;
}

.tabs__link {
  padding: 8px 16px;
  font-weight: 500;
  font-size: 22px;
  color: #4f4f4f;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 5px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.tabs__link:hover {
  color: #ffffff;
  background-color: #00AC4E;
}

.active {
  color: #ffffff;
  background-color: #00AC4E;
}

.full {
  margin-bottom: 10rem;
}

.full__title {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}

.full__title::first-letter {
  text-transform: capitalize;
}

.full__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 40px;
}

.product {
  padding: 0 0 30px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  border-radius: 4.53px;
  -webkit-transition: -webkit-transform .15s ease-out;
  transition: -webkit-transform .15s ease-out;
  transition: transform .15s ease-out;
  transition: transform .15s ease-out, -webkit-transform .15s ease-out;
}

.product:hover {
  -webkit-transform: scale(1.025);
      -ms-transform: scale(1.025);
          transform: scale(1.025);
}

.product__img {
  position: relative;
  margin-bottom: 1rem;
  min-height: 125px;
  cursor: pointer;
  display: block;
  outline: none;
  border-radius: 4.53px;
}

.product__img img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 4.53px;
}

.product__img::after {
  position: absolute;
  content: 'Подробнее';
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  color: #ffffff;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4.53px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.product__img:hover::after {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.product__content {
  position: relative;
  overflow: hidden;
  padding: 0 15px 0;
  margin-bottom: 12px;
  max-height: 66px;
}

.product__title {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  text-transform: capitalize;
  letter-spacing: .5px;
}

.product__text {
  font-weight: normal;
  font-size: 12.674px;
  line-height: 22px;
  color: #000000;
  letter-spacing: .5px;
}

.product__option {
  padding: 0 15px 0;
  margin-top: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
}

.product__star {
  margin-bottom: 5px;
}

.product__star svg {
  fill: #999999;
  margin-right: -2.5px;
  cursor: pointer;
}

.product__price {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 19px;
  color: #000000;
}

.product__buy {
  padding: 9px 27px;
  font-weight: 500;
  font-size: 18.1056px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  background-color: #00AC4E;
  border-radius: 4.53px;
}

.delivery,
.payment {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.delivery__title,
.payment__title {
  margin-bottom: 2.5rem;
  font-weight: 500;
  font-size: 28px;
  color: #000000;
}

.delivery__title::first-letter,
.payment__title::first-letter {
  text-transform: capitalize;
}

.delivery__text,
.payment__text {
  margin-bottom: 2.5rem;
  font-weight: 400;
  font-size: 18px;
  color: #828282;
  line-height: 28px;
}

.delivery__low,
.payment__low {
  margin-top: 6rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.delivery__btn,
.payment__btn {
  padding: 8px 30px;
  margin-right: 4rem;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #00AC4E;
  border-radius: 6.9px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.delivery__btn:hover,
.payment__btn:hover {
  box-shadow: 0 0 15px rgba(0, 172, 78, 0.65);
}

.delivery__btn::first-letter,
.payment__btn::first-letter {
  text-transform: capitalize;
}

.delivery__link,
.payment__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  font-weight: 400;
  font-size: 22.2162px;
  text-align: center;
  color: #00AC4E;
}

.delivery__link span,
.payment__link span {
  margin-left: 5px;
  display: block;
  margin-top: 1.5px;
}

.delivery__link span img,
.payment__link span img {
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

.delivery__link::first-letter,
.payment__link::first-letter {
  text-transform: capitalize;
}

.delivery__link:hover span img,
.payment__link:hover span img {
  -webkit-transform: translateX(12px) scale(1.2);
      -ms-transform: translateX(12px) scale(1.2);
          transform: translateX(12px) scale(1.2);
}

.single {
  margin: 8rem 0;
}

.single__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

.single__top-img-col {
  width: 10%;
  border-radius: 5px;
}

.single__top-img-col img {
  margin-bottom: 1rem;
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.single__top-img {
  position: relative;
  width: 55%;
  padding-bottom: 45%;
  margin-top: 0;
  margin-right: 2rem;
  margin-left: 2rem;
  border-radius: 5px;
}

.single__top-img img {
  position: absolute;
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.single__top-img .img2 {
  z-index: 2;
}

.single__info {
  width: 30%;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
}

.single__info-top {
  margin-bottom: 3rem;
}

.single__info-block {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.single__info-block > span::first-letter {
  text-transform: capitalize;
}

.single__info-star svg {
  cursor: pointer;
  margin-left: -1px;
}

.single__info-name {
  font-weight: 500;
  font-size: 18.0727px;
  color: #000000;
}

.single__info-mid {
  margin-bottom: 3rem;
}

.single__info-price-text {
  font-weight: 500;
  font-size: 14.4582px;
  color: #C6C6C6;
}

.single__info-price-number {
  font-weight: 500;
  font-size: 18.0727px;
  color: #000000;
  text-align: right;
}

.single__info-amount-text {
  font-weight: 500;
  font-size: 14.4582px;
  color: #C6C6C6;
}

.single__info-amount-number {
  padding: 8px 45px;
  font-weight: 500;
  font-size: 18.0727px;
  color: #000000;
  text-align: right;
  background: #FCFCFC;
  border: 0.903636px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 9.03636px;
}

.single__info-total-text {
  font-weight: 500;
  font-size: 14.4582px;
  color: #000000;
}

.single__info-total-number {
  text-align: right;
  font-weight: 500;
  font-size: 18.0727px;
  color: #00AC4E;
}

.single__info-link {
  margin-top: 5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.single__info-buy-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  width: 70%;
  min-height: 39px;
  margin-right: 2rem;
  font-weight: 500;
  font-size: 18.0727px;
  color: #FFFFFF;
  text-transform: capitalize;
  background: #00AC4E;
  border-radius: 4.51818px;
}

.single__info-add-cart {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  width: 20%;
  min-height: 39px;
  background: #00AC4E;
  border-radius: 4.51818px;
}

.single__mid {
  margin-top: 1rem;
}

.single__mid-content {
  width: 60%;
  margin-bottom: 4rem;
}

.single__mid-suptitle {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 28.8639px;
  color: #00AC4E;
}

.single__mid-suptitle::first-letter {
  text-transform: capitalize;
}

.single__mid-subtitle {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 21.6479px;
  color: #000000;
}

.single__mid-subtitle::first-letter {
  text-transform: capitalize;
}

.single__mid-text {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 18.0399px;
  line-height: 22px;
  color: #828282;
}

.single__low-free-delivery {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  background: #F2F2F2;
  box-shadow: 0px 0px 18.0727px rgba(0, 0, 0, 0.03);
  border-radius: 18.0727px;
}

.single__low-left {
  width: 50%;
  padding-left: 4rem;
}

.single__low-right {
  width: 50%;
}

.single__low-img img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
}

.single__low-title {
  padding-bottom: 3rem;
  font-weight: 500;
  font-size: 31px;
  color: #333333;
}

.single__low-title::first-letter {
  text-transform: capitalize;
}

.single__low-btn {
  padding: 9px 22px;
  display: inline-block;
  font-weight: 500;
  font-size: 25.3018px;
  color: #f2f2f2;
  background: #00AC4E;
  border-radius: 4.5px;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

.single__low-btn::first-letter {
  text-transform: capitalize;
}

.single__low-btn:hover {
  color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 172, 78, 0.3);
}

.cart,
.confirm {
  margin: 6rem 0 8rem;
}

.cart .container,
.confirm .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.cart__left,
.confirm__left {
  width: 60%;
}

.cart__title,
.confirm__title {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 28px;
  color: #333333;
}

.cart__title::first-letter,
.confirm__title::first-letter {
  text-transform: capitalize;
}

.cart__right,
.confirm__right {
  width: 35%;
}

.order__parent {
  border-top: 1px solid #ebebeb;
  margin-bottom: 2rem;
}

.order {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  border-bottom: 1px solid #ebebeb;
}

.order__cancel {
  cursor: pointer;
  margin-right: 15px;
}

.order__cancel-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.order__img {
  margin-right: 30px;
}

.order__img-img {
  max-width: 80%;
  height: auto;
  display: block;
}

.order__name {
  margin-right: 70px;
}

.order__name-name {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.order__name-name::first-letter {
  text-transform: capitalize;
}

.order__number {
  margin-right: 70px;
  padding: 5px 25px;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  background: #fcfcfc;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  border-radius: 5px;
}

.order__number-minus {
  cursor: pointer;
}

.order__number-plus {
  cursor: pointer;
}

.order__price {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.order__info {
  padding: 5rem 3rem;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
}

.order__info-title {
  margin-bottom: 3rem;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.order__info-title::first-letter {
  text-transform: capitalize;
}

.order__info-price {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.order__info-price-text {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.order__info-price-text::first-letter {
  text-transform: capitalize;
}

.order__info-price-num {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.order__info-total {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

.order__info-total-text {
  margin-bottom: 0.5rem;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.order__info-total-text::first-letter {
  text-transform: capitalize;
}

.order__info-total-num {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.order__info-reg {
  margin-top: 6rem;
  display: inline-block;
}

.order__info-reg::first-letter {
  text-transform: capitalize;
}

.order__info-reg-link {
  padding: 15px 21px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background: #00AC4E;
  border-radius: 5px;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

.order__info-reg-link:hover {
  box-shadow: 0 0 15px rgba(0, 172, 78, 0.3);
}

.burger__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 80px;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 0 20px;
  display: none;
  background-color: #ffffff;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.12);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.burger__close {
  padding: 10px 13px;
  background-color: #00AC4E;
  border-radius: 4.59px;
}

.burger__close img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.burger__logo a {
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}

.menu__burger {
  display: none;
}

.menu__burger img {
  max-width: 100%;
  height: auto;
  display: block;
}

.confirm__total {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  font-size: 14px;
}

.confirm__total-text::first-letter {
  text-transform: capitalize;
}

.confirm__total-number {
  font-weight: 500;
}

.confirm__form {
  width: 35%;
  margin: 0;
}

.confirm__form label {
  width: 100%;
  display: inline-block;
  font-weight: 400;
  font-size: 15.6716px;
  color: #000000;
}

.confirm__form label span {
  display: inline-block;
  margin-bottom: 4px;
  cursor: pointer;
}

.confirm__form label input {
  width: 100%;
  padding: 15px 0 15px 20px;
  margin-bottom: 20px;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 15.6716px;
  color: #000000;
  background: #FCFCFC;
  border: 1.1194px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 7.11356px;
}

.confirm__form label input::-webkit-input-placeholder {
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 15.6716px;
  color: #C6C6C6;
}

.confirm__form label input:-ms-input-placeholder {
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 15.6716px;
  color: #C6C6C6;
}

.confirm__form label input::-ms-input-placeholder {
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 15.6716px;
  color: #C6C6C6;
}

.confirm__form label input::placeholder {
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 15.6716px;
  color: #C6C6C6;
}

.confirm__form label input:focus {
  box-shadow: 0 0 5px rgba(0, 172, 78, 0.8);
}

.confirm__form label #delivery {
  width: auto;
  cursor: pointer;
}

.confirm__form label select {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px 0 10px 20px;
  cursor: pointer;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 15.6716px;
  color: #000000;
  background: #FCFCFC;
  border: 1.1194px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 7.11356px;
}

.confirm__form label select option {
  cursor: pointer;
}

.confirm__form label select:focus {
  box-shadow: 0 0 5px rgba(0, 172, 78, 0.8);
}

.confirm__btn {
  margin-top: 20px;
  display: inline-block;
  width: auto;
  padding: 18px 35px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #00AC4E;
  border-radius: 5.6px;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

.confirm__btn:hover {
  box-shadow: 0 0 12px rgba(0, 172, 78, 0.8);
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow-x: hidden;
  display: block;
  margin: 0;
  padding: 10px 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  outline: none;
  padding: 0 10px;
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide div {
  outline: none;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */

@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.item__img img {
  max-width: 100%;
  height: auto;
  display: block;
}

.item__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

.slider {
  margin-bottom: 2rem;
}

.slider__title {
  display: block;
  margin: 2rem 0;
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}

.slider__title::first-letter {
  text-transform: capitalize;
}

.slider__title:first-child {
  margin-top: 0;
}

.slider-recommend-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-align-self: flex-start;
          align-self: flex-start;
  text-transform: capitalize;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

.slider-recommend-link span {
  padding: 2.5px;
  border-radius: 4.53px;
  background-color: transparent;
}

.slider-recommend-link span,
.slider-recommend-link span > img {
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

.slider-recommend-link:hover {
  color: #00AC4E;
}

.slider-recommend-link:hover span {
  -webkit-transform: translateX(60%);
      -ms-transform: translateX(60%);
          transform: translateX(60%);
  background-color: #00AC4E;
}

.header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  z-index: 99;
}

.header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  z-index: 99;
}

.header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  z-index: 99;
}

.header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  z-index: 99;
}

.header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  z-index: 99;
}

.header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.footer {
  padding: 5rem 0 8rem;
  margin-top: 4rem;
  color: #ffffff;
  background-color: #00AC4E;
}

.footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

.footer__top,
.footer__mid,
.footer__low {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

.footer__top-col {
  margin-right: 10rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

.footer__top-col-title {
  margin-bottom: 1rem;
  font-size: 12px;
  color: #ffffff;
}

.footer__top-col-title::first-letter {
  text-transform: capitalize;
}

.footer__top-col-telegram,
.footer__top-col-instagram {
  font-weight: 500;
  text-decoration: underline;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3.08517px;
}

.footer__top-col-instagram {
  margin-top: 3rem;
}

.footer__mid {
  margin-top: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

.footer__mid-work-time {
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 15.4259px;
}

.footer__mid-work-time::first-letter {
  text-transform: capitalize;
}

.footer__mid-mail {
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 18.511px;
}

.footer__mid-help {
  margin-bottom: 3rem;
  font-weight: 500;
  font-size: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.footer__mid-help::first-letter {
  text-transform: capitalize;
}

.footer__low-doc {
  font-weight: 400;
  font-size: 15px;
}

@media (max-width: 1280px) {
  .container {
    max-width: 900px;
  }

  .header {
    height: 80px;
  }

  .header .container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }

  .option {
    width: 35%;
  }

  .option__tel a span {
    margin-bottom: 3px;
  }

  .logo {
    width: 30%;
  }

  .logo__img {
    max-width: 75px;
    max-height: 75px;
    margin: 0 auto;
    border-radius: 50%;
  }

  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #343E48;
    z-index: 999;
    -webkit-transform: translateX(-150%);
        -ms-transform: translateX(-150%);
            transform: translateX(-150%);
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
  }

  .nav__list {
    display: block;
    margin-top: 25px;
    padding-left: 20px;
  }

  .nav__item {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .nav__item:hover .sub-nav {
    position: static;
  }

  .nav__link {
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
  }

  .nav__link:hover {
    color: #ffffff;
  }

  .sub-nav {
    padding-top: 20px;
    padding-bottom: 0;
    background: transparent;
    box-shadow: none;
  }

  .sub-nav-link {
    font-weight: normal;
    font-size: 15px;
    color: #f2f2f2;
  }

  .burger__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }

  .menu__burger {
    width: 35%;
    display: block;
  }

  .gift {
    margin-top: 4rem;
    height: 230px;
  }

  .gift__content {
    margin-left: 4rem;
  }

  .gift__suptitle {
    margin-bottom: .8rem;
    font-size: 2.8rem;
  }

  .gift__subtitle {
    margin-bottom: 3rem;
  }

  .gift__btn {
    padding: 5px 12px;
    font-size: 2rem;
  }

  .tabs {
    padding: 20px 0;
  }

  .tabs__item {
    margin-right: 44px;
  }

  .tabs__link {
    padding: 5px 12px;
    font-size: 18px;
  }

  .full {
    margin-bottom: 8rem;
  }

  .full__title {
    margin-bottom: 3rem;
  }

  .full__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 30px;
  }

  .product__img img {
    max-width: 70%;
  }

  .option__tel a span {
    font-size: 15px;
    line-height: normal;
    letter-spacing: .5px;
  }

  .single {
    margin: 5rem 0;
  }

  .single__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
  }

  .single__top-img-col {
    width: 10%;
  }

  .single__top-img {
    width: 55%;
    padding-bottom: 42%;
  }

  .single__info {
    width: 30%;
    padding: 3rem 2rem;
  }

  .single__info-top {
    margin-bottom: 3rem;
  }

  .single__info-block {
    margin-bottom: 1rem;
  }

  .single__info-name {
    font-size: 18.0727px;
  }

  .single__info-mid {
    margin-bottom: 3rem;
  }

  .single__info-amount-number {
    padding: 5px 20px;
    font-size: 16px;
  }

  .single__info-total-text {
    font-size: 12px;
  }

  .single__info-link {
    margin-top: 3rem;
  }

  .single__info-buy-link {
    min-height: 33px;
    margin-right: 1rem;
    font-size: 15px;
  }

  .single__info-add-cart {
    min-height: 33px;
  }

  .single__mid {
    margin-bottom: 3rem;
  }

  .single__mid-content {
    width: 60%;
    margin-bottom: 0;
  }

  .single__mid-suptitle {
    margin-bottom: 1rem;
    font-size: 23px;
  }

  .single__mid-subtitle {
    margin-bottom: 1rem;
    font-size: 18px;
  }

  .single__mid-text {
    margin-bottom: 1rem;
    font-size: 16px;
  }

  .single__low-left {
    padding-left: 2rem;
  }

  .single__low-title {
    padding-bottom: 2rem;
    font-size: 22px;
  }

  .single__low-btn {
    padding: 5px 15px;
    font-size: 18px;
  }

  .cart,
  .confirm {
    margin: 3rem 0 6rem;
  }

  .cart__left,
  .confirm__left {
    width: 60%;
  }

  .cart__title,
  .confirm__title {
    margin-bottom: 2rem;
    font-size: 20px;
  }

  .cart__right,
  .confirm__right {
    width: 35%;
  }

  .order__cancel {
    cursor: pointer;
    margin-right: 0;
  }

  .order__cancel-img {
    max-width: 100%;
  }

  .order__img {
    margin-right: 0;
  }

  .order__img-img {
    margin: 0 auto;
    max-width: 60%;
  }

  .order__name {
    margin-right: 0;
  }

  .order__name-name {
    font-size: 16px;
  }

  .order__number {
    margin-right: 0;
    margin-left: 10px;
    padding: 5px 25px;
    font-size: 12px;
  }

  .order__price {
    margin-left: auto;
    font-size: 16px;
  }

  .order__info {
    padding: 3rem 2rem;
  }

  .order__info-title {
    margin-bottom: 2rem;
    font-size: 16px;
  }

  .order__info-price {
    margin-bottom: 2rem;
  }

  .order__info-price-text {
    font-size: 12px;
  }

  .order__info-price-num {
    font-size: 16px;
  }

  .order__info-total-text {
    font-size: 12px;
  }

  .order__info-total-num {
    font-size: 14px;
  }

  .order__info-reg {
    margin-top: 3rem;
  }

  .order__info-reg-link {
    padding: 8px 15px;
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .option__tel span {
    display: none;
  }
}

@media (max-width: 768px) {
  .confirm__form {
    width: 100%;
  }

  .confirm__form label {
    font-size: 12px;
  }

  .confirm__form label input {
    padding: 13px 0 13px 10px;
    margin-bottom: 15px;
    font-size: 12px;
  }

  .confirm__form label input::-webkit-input-placeholder {
    font-size: 11px;
  }

  .confirm__form label input:-ms-input-placeholder {
    font-size: 11px;
  }

  .confirm__form label input::-ms-input-placeholder {
    font-size: 11px;
  }

  .confirm__form label input::placeholder {
    font-size: 11px;
  }

  .confirm__form label select {
    margin-bottom: 15px;
    padding: 10px 0 10px 10px;
    font-size: 12px;
  }

  .confirm__btn {
    margin-top: 10px;
    padding: 12px 22px;
    font-size: 11px;
  }

  .gift {
    margin-top: 3rem;
    height: 180px;
  }

  .gift__content {
    margin-left: 3rem;
  }

  .gift__suptitle {
    margin-bottom: .8rem;
    font-size: 2rem;
  }

  .gift__subtitle {
    margin-bottom: 3rem;
    font-size: 1.6rem;
  }

  .gift__btn {
    padding: 5px 12px;
    font-size: 1.8rem;
  }

  .product__img {
    min-height: 100px;
  }

  .product__img img {
    max-width: 70%;
  }

  .product__img::after {
    font-size: 15px;
  }

  .product__title {
    letter-spacing: 0;
  }

  .product__text {
    font-size: 12px;
    letter-spacing: 0;
  }

  .product__price {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .product__buy {
    padding: 5px 20px;
    font-size: 16px;
  }

  .delivery,
  .payment {
    margin-top: 4rem;
    margin-bottom: 6rem;
  }

  .delivery__title,
  .payment__title {
    margin-bottom: 1.8rem;
    font-size: 23px;
  }

  .delivery__text,
  .payment__text {
    font-size: 16px;
  }

  .delivery__low,
  .payment__low {
    margin-top: 4rem;
  }

  .delivery__btn,
  .payment__btn {
    margin-right: 6rem;
    font-size: 18px;
  }

  .delivery__link,
  .payment__link {
    font-size: 18px;
  }

  .single {
    margin: 3rem 0;
  }

  .single__top {
    display: block;
  }

  .single__top-img-col {
    display: none;
  }

  .single__top-img {
    width: 100%;
    padding-bottom: 0;
    margin: 0;
    margin-bottom: 2rem;
  }

  .single__top-img img {
    position: static;
    width: 350px;
    margin: 0 auto;
  }

  .single__info {
    width: 100%;
    padding: 2rem;
  }

  .single__info-top {
    margin-bottom: 1rem;
  }

  .single__info-block {
    margin-bottom: 1rem;
  }

  .single__info-name {
    font-size: 16px;
  }

  .single__info-mid {
    margin-bottom: 1rem;
  }

  .single__info-amount-number {
    padding: 5px 20px;
    font-size: 16px;
  }

  .single__info-total-text {
    font-size: 12px;
  }

  .single__info-link {
    margin-top: 2rem;
  }

  .single__info-buy-link {
    width: auto;
    min-height: 33px;
    margin-right: 1rem;
    padding: 0 50px;
    margin-left: auto;
    font-size: 15px;
  }

  .single__info-add-cart {
    width: auto;
    min-height: 33px;
    padding: 0 10px;
  }

  .single__mid {
    margin-bottom: 3rem;
  }

  .single__mid-content {
    width: 100%;
    padding-right: 2rem;
  }

  .single__mid-suptitle {
    margin-bottom: 1rem;
    font-size: 20px;
  }

  .single__mid-subtitle {
    margin-bottom: 1rem;
    font-size: 16px;
  }

  .single__mid-text {
    margin-bottom: 1rem;
    font-size: 16px;
  }

  .single__low-left {
    padding-left: 2rem;
  }

  .single__low-title {
    padding-bottom: 2rem;
    font-size: 20px;
  }

  .single__low-btn {
    padding: 5px 15px;
    font-size: 16px;
  }

  .cart,
  .confirm {
    margin: 2rem 0 4rem;
  }

  .cart .container,
  .confirm .container {
    display: block;
  }

  .cart__left,
  .confirm__left {
    width: 100%;
    margin-bottom: 3rem;
  }

  .cart__title,
  .confirm__title {
    font-size: 16px;
  }

  .cart__right,
  .confirm__right {
    width: 100%;
  }

  .order__cancel {
    cursor: pointer;
    margin-right: 0;
  }

  .order__cancel-img {
    max-width: 100%;
  }

  .order__img {
    margin-right: 0;
  }

  .order__img-img {
    margin: 0 auto;
    max-width: 60%;
  }

  .order__name {
    margin-right: 0;
  }

  .order__name-name {
    font-size: 16px;
  }

  .order__number {
    margin-left: 40px;
    font-size: 12px;
  }

  .order__price {
    margin-left: auto;
    font-size: 16px;
  }

  .order__info {
    padding: 2rem;
  }

  .order__info-title {
    margin-bottom: 2rem;
    font-size: 16px;
  }

  .order__info-price {
    margin-bottom: 2rem;
  }

  .order__info-price-text {
    font-size: 12px;
  }

  .order__info-price-num {
    font-size: 16px;
  }

  .order__info-total {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }

  .order__info-total-text {
    font-size: 12px;
  }

  .order__info-total-num {
    font-size: 16px;
  }

  .order__info-reg {
    margin-top: 2rem;
  }

  .order__info-reg-link {
    padding: 8px 15px;
    font-size: 12px;
  }

  .footer {
    padding: 5rem 0;
  }

  .footer__top-col {
    margin-right: 5rem;
  }

  .footer__top-col-instagram {
    margin-top: 2rem;
  }

  .footer__mid {
    margin-top: 3rem;
  }

  .footer__mid-mail {
    font-size: 16px;
  }

  .footer__mid-help {
    margin-bottom: 2rem;
  }
}

@media (max-width: 650px) {
  .header {
    height: 55px;
  }

  .logo {
    width: 30%;
  }

  .logo__img {
    max-width: 55px;
    max-height: 55px;
  }

  .footer__mid-mail {
    display: block;
  }

  .option__tel {
    margin-right: 2rem;
  }

  .gift {
    margin-top: 2rem;
    height: 110px;
  }

  .gift .container {
    padding: 0 5px;
  }

  .gift__content {
    margin-left: 12px;
  }

  .gift__suptitle {
    margin-bottom: 5px;
    font-size: 10px;
  }

  .gift__subtitle {
    margin-bottom: 10px;
    font-size: 8px;
  }

  .gift__btn {
    padding: 7px 15px;
    font-size: 8px;
  }

  .tabs {
    padding: 12px 0;
    position: relative;
    overflow-x: scroll;
  }

  .tabs__item {
    margin-right: 26px;
  }

  .tabs__link {
    padding: 4px 9px;
    font-size: 11.5px;
  }

  .full {
    margin-bottom: 4rem;
  }

  .full__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 12px;
  }

  .full__title {
    margin-bottom: 12px;
    font-size: 12px;
  }

  .product {
    padding-bottom: 10px;
  }

  .product__img {
    margin: 0 auto;
    min-width: 90px;
    min-height: 60px;
  }

  .product__img img {
    max-width: 70%;
    height: auto;
    display: block;
  }

  .product__img::after {
    font-size: 8px;
  }

  .product__content {
    margin-bottom: 0;
  }

  .product__title {
    font-size: 10px;
    letter-spacing: 0;
  }

  .product__text {
    font-size: 6px;
    letter-spacing: 0;
    line-height: 12px;
  }

  .product__price {
    margin-bottom: 7px;
    font-size: 11px;
  }

  .product__star {
    margin-bottom: 0;
  }

  .product__star svg {
    width: 9px;
    height: 9px;
  }

  .product__buy {
    display: block;
    padding: 5px 11px;
    text-align: center;
    font-size: 8px;
  }

  .single {
    margin: 2.5rem 0;
  }

  .single__top-img {
    margin-bottom: 1rem;
  }

  .single__info {
    padding: 1.5rem 1rem;
  }

  .single__info-top {
    margin-bottom: .6rem;
  }

  .single__info-block {
    margin-bottom: .7rem;
  }

  .single__info-name {
    font-size: 13px;
  }

  .single__info-price-text {
    font-size: 9px;
  }

  .single__info-price-number {
    font-size: 12px;
  }

  .single__info-amount-text {
    font-size: 9px;
  }

  .single__info-amount-number {
    font-size: 12px;
  }

  .single__info-total-text {
    font-size: 9px;
  }

  .single__info-total-number {
    font-size: 14px;
  }

  .single__info-link {
    margin-top: 1rem;
  }

  .single__info-buy-link {
    min-height: 25px;
    padding: 0 35px;
    font-size: 12px;
  }

  .single__info-add-cart {
    min-height: 25px;
  }

  .single__info-add-cart img {
    max-width: 60%;
  }

  .single__mid {
    margin-bottom: 2rem;
  }

  .single__mid-content {
    padding-right: 0;
  }

  .single__mid-suptitle {
    margin-bottom: 1rem;
    font-size: 14px;
  }

  .single__mid-subtitle {
    margin-bottom: .6rem;
    font-size: 12px;
  }

  .single__mid-text {
    margin-bottom: .5rem;
    font-size: 8px;
    line-height: 16px;
  }

  .single__low-free-delivery {
    padding: 15px 0;
  }

  .single__low-left {
    padding-left: 1rem;
  }

  .single__low-title {
    padding-bottom: 1rem;
    font-size: 10px;
  }

  .single__low-btn {
    padding: 5px 13px;
    font-size: 8px;
  }

  .cart,
  .confirm {
    margin: 2rem 0;
  }

  .cart__left,
  .confirm__left {
    margin-bottom: 2rem;
  }

  .cart__title,
  .confirm__title {
    margin-bottom: 1.2rem;
    font-size: 15px;
  }

  .cart__right,
  .confirm__right {
    width: 100%;
  }

  .order__cancel img {
    width: 15px;
    max-width: 100%;
  }

  .order__img {
    margin-right: 15px;
  }

  .order__img-img {
    width: 50px;
    max-width: 100%;
    height: auto;
  }

  .order__name {
    margin-right: 15px;
  }

  .order__name-name {
    font-size: 10px;
  }

  .order__number {
    margin-left: 0;
    padding: 5px 15px;
    font-size: 8px;
  }

  .order__price {
    margin-left: auto;
    font-size: 12px;
  }

  .order__info {
    padding: 1rem 2rem 2rem;
  }

  .order__info-title {
    margin-bottom: 1rem;
    font-size: 12px;
  }

  .order__info-price {
    margin-bottom: 1rem;
  }

  .order__info-price-text {
    font-size: 9px;
  }

  .order__info-price-num {
    font-size: 9px;
  }

  .order__info-total {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }

  .order__info-total-text {
    font-size: 9px;
  }

  .order__info-total-num {
    font-size: 12px;
  }

  .order__info-reg {
    margin-top: 1rem;
  }

  .order__info-reg-link {
    padding: 7px 15px;
    font-size: 10px;
  }

  .delivery,
  .payment {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  .delivery__title,
  .payment__title {
    margin-bottom: 1.2rem;
    font-size: 16px;
  }

  .delivery__text,
  .payment__text {
    font-size: 12px;
    line-height: 23px;
  }

  .delivery__low,
  .payment__low {
    margin-top: 2rem;
  }

  .delivery__btn,
  .payment__btn {
    margin-right: 4rem;
    font-size: 12px;
  }

  .delivery__link,
  .payment__link {
    font-size: 12px;
  }

  .footer {
    padding: 2.5rem 0 2.5rem;
    margin-top: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .footer .container {
    display: block;
  }

  .footer__top,
  .footer__mid,
  .footer__low {
    display: block;
  }

  .footer__top-col {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .footer__top-col-title {
    margin-bottom: 1rem;
    font-size: 8px;
  }

  .footer__top-col-num {
    font-size: 12px;
  }

  .footer__top-col-telegram,
  .footer__top-col-instagram {
    font-size: 12px;
  }

  .footer__top-col-instagram {
    margin-top: 2rem;
  }

  .footer__mid {
    margin-top: 0;
  }

  .footer__mid-work-time {
    margin-bottom: 1.5rem;
    font-size: 10px;
  }

  .footer__mid-mail {
    font-size: 12px;
  }

  .footer__mid-help {
    margin-bottom: 0;
    font-size: 12px;
  }

  .footer__low-doc {
    margin-top: 1rem;
    font-weight: 400;
    font-size: 15px;
  }
}